
<script language="javascript" type="text/javascript" src="%PLUGINPUBURL%/ComponentEditPlugin.js"></script>
<script language="javascript" type="text/javascript" src="%PLUGINPUBURL%/../TinyMCEPlugin/tinymce/jscripts/tiny_mce/tiny_mce_popup.js"></script>

<script type="text/javascript">
//create the Foswiki namespace if needed
if ( typeof( Foswiki ) == "undefined" ) {
    Foswiki = {};
}

//create the Foswiki.ComponentEditPlugin namespace if needed
if ( typeof( Foswiki.ComponentEditPlugin ) == "undefined" ) {
    Foswiki.ComponentEditPlugin = {};
}

Foswiki.ComponentEditPlugin.restUrl = '%SCRIPTURL{"rest"}%/ComponentEditPlugin/getEdit';
</script>
